@tailwind base;
@tailwind components;
@tailwind utilities;

.loaderIcon {
    margin-right: 7px;
    top: 2px;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

  @font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  }
  
  body {
    font-family: 'Figtree', sans-serif;
  }
